html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: $baseFontSize;
}

td {
    font-size: $baseFontSize;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}